<!-- app.component.html -->
<div class="flex flex-col items-center justify-center h-screen bg-gradient-to-l from-gray-800 via-gray-900 to-black px-8 py-4">
  <div class="w-full max-w-md">
    <div class="p-4 mb-20 text-center">
      <div class="text-5xl font-bold"> <span class="text-blue-500">{{ currentTime }}</span></div>
    </div>
    <div class="flex justify-center">
      <div class="relative">
        <input
          class="w-[60vw] bg-transparent border-b border-white text-white placeholder-white py-2 px-4 outline-none focus:border-blue-500"
          type="text"
          placeholder="Search Google"
          #searchInput
        />
        <button
          class="absolute top-0 right-0  text-white font-bold py-2 px-4"
          (click)="searchGoogle(searchInput.value)"
        >
          Search
        </button>
      </div>
    </div>

    <div class="flex justify-center space-x-8 mt-8">
      <!-- <a href="https://www.youtube.com" class="social-link bg-red-600 hover:bg-red-700">
        <i class="fab fa-youtube fa-2x text-white"></i>
      </a>
      <a href="https://www.linkedin.com" class="social-link bg-blue-800 hover:bg-blue-900">
        <i class="fab fa-linkedin-in fa-2x text-white"></i>
      </a>
      <a href="https://www.example.com" class="social-link bg-green-500 hover:bg-green-700">
        <i class="fas fa-file fa-2x text-white"></i>
      </a>
      <a href="https://www.example.com" class="social-link bg-yellow-500 hover:bg-yellow-700">
        <i class="fas fa-file fa-2x text-white"></i>
      </a>
      <a href="https://www.example.com" class="social-link bg-purple-500 hover:bg-purple-700">
        <i class="fas fa-file fa-2x text-white"></i>
      </a>
    </div> -->

   
  </div>
</div>
