<div class="p-6  md:mx-52 bg-[#e4e9f7] rounded-lg sm:mx-0">
    <h2 class="text-3xl sm:text-4xl font-bold mb-8 text-center text-indigo-800">Interests and Hobbies</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 gap-8">
      <div *ngFor="let interest of interests" class="bg-gradient-to-r from-indigo-100 to-purple-100 p-6 rounded-lg shadow-md flex flex-col items-center">
        <div class="md:w-full md:h-64 mb-4 overflow-hidden rounded-md">
          <img [src]="interest.imagePath" class="object-cover w-full h-full" [alt]="interest.title">
        </div>
        <h3 class="text-xl sm:text-2xl font-semibold mb-4 text-indigo-800">{{ interest.title }}</h3>
        <p class="text-gray-700">{{ interest.description }}</p>
      </div>
    </div>
    
  </div>