<div class="flex justify-center">
    <div class="container">
        <div class="box" style="--clr:#89ec5b;">
            <div class="content">
                <div class="icon">brush</div>
                <div class="text">
                    <h3>Designing</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, qui.</p>
                    <a (click)="openPopup()" >Read More</a>
                </div>
            </div>
        </div>
        <div class="box" style="--clr:#eb5ae5;">
            <div class="content">
                <div class="icon">slash</div>
                <div class="text">
                    <h3>Development</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, qui.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="box" style="--clr:#5b98eb;">
            <div class="content">
                <div class="icon">search</div>
                <div class="text">
                    <h3>SEO</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, qui.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
